*{
    margin: 0;
    padding: 0;
}

header{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-image: url('gambar/kayu.png');
    border: solid 0.5vw black;
    height: 12vw;
    width: 70vw;
    margin-left: 15vw;
    background-size: 20vw;
}

body {
    background-image: url('gambar/tileablewood.jpg');
    background-size: 50vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100%;
}

.h1 {
    width: auto;
    height: auto;
}

.gambar {
    padding : 2vw;
    margin-left: 2vw;
    text-align: left;
    display: inline-block;
}

.kananGambar {
    margin-left: 2vw;
    display: inline-block;
    font-size: 45px;

}

.rightleft {
    position: relative;
    animation-name: kanankekiri;
    animation-duration: 7s;
}

@keyframes kanankekiri { 
    0% { left:50vw; opacity:0 } 
    100% { left:0vw; opacity:1 }
}

.rightleft1 {
    position: relative;
    animation-name: kanankekiri;
    animation-duration: 7.5s
}

.rightleft2 {
    position: relative;
    animation-name: kanankekiri;
    animation-duration: 8s
}
.rightleft3 {
    position: relative;
    animation-name: kanankekiri;
    animation-duration: 8.5s
}
.rightleft4 {
    position: relative;
    animation-name: kanankekiri;
    animation-duration: 9s
}
.rightleft5 {
    position: relative;
    animation-name: kanankekiri;
    animation-duration: 9.5s
}
.rightleft6 {
    position: relative;
    animation-name: kanankekiri;
    animation-duration: 10s
}
.rightleft7 {
    position: relative;
    animation-name: kanankekiri;
    animation-duration: 10.5s
}

.bawahatas{
    position: relative;
    animation-name: bawahatas;
    animation-duration: 0.5s
}

@keyframes bawahatas { 
    0% { bottom:-50vw; opacity:0 } 
    100% { bottom:0vw; opacity:1 }
}

.bawahatas1{
    position: relative;
    animation-name: bawahatas;
    animation-duration: 1s
}

.bawahatas2{
    position: relative;
    animation-name: bawahatas;
    animation-duration: 1.5s
}

.bawahatas3{
    position: relative;
    animation-name: bawahatas;
    animation-duration: 2s
}

.bawahatas4{
    position: relative;
    animation-name: bawahatas;
    animation-duration: 2.5s
}

.bawahatas5{
    position: relative;
    animation-name: bawahatas;
    animation-duration: 3s
}

.bawahatas6{
    position: relative;
    animation-name: bawahatas;
    animation-duration: 3.5s
}

.bawahatas7{
    position: relative;
    animation-name: bawahatas;
    animation-duration: 4s
}

.geter {
    height: auto;
    max-width: 95%;
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;
  
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
}
  
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.leftright {
    position: relative;
    animation-name: leftright;
    animation-duration: 2s;
}

@keyframes leftright {
    0% {right: 100px; opacity: 0;}
    100% {right: 0px; opacity: 1;}
}


#mySidenav navi {
    position: absolute; 
    left: -11.2vw; 
    transition: 0.3s; 
    padding: 1vw; 
    width: 20vw; 
    text-decoration: none; 
    font-size: 2vw; 
    color: white; 
    border-radius: 0vw 1vw 1vw 0vw; 
}
  
#mySidenav navi:hover {
    left: 0vw; 
}
  

#contact {
    top: 4vw;
    background-color: black;
}

.tanggal {
    font-size: 20px;
    text-align: right;
}

